:root {
  --bgColor: #f5f1f1;
  --neon-green: #51e251;
  --lightcoral: #f08080;
  --darkpurple: #953fa4;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: var(--bgColor);
}

.top {
  display: inline;
  width: 90%;
  text-align: center;
  margin: 0 auto;
  padding: 12px;
  color: var(--darkpurple);
}

main {
  width: 90%;
  margin: 22px auto;
}

nav {
  text-align: right;
  padding: 5px;
  background-color: var(--bgColor);
  width: 90%;
}

li {
  display: inline;
  list-style-type: none;
  font-size: 20px;
}


.about-me,
.contact {
  background-color: #c8c8ee;
  border: dashed 8px #7575ed;

}



.footer {
  background-color: rgb(116, 153, 191);
  font-size: 12px;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: auto;
  color: var(--darkpurple);
  text-align: left;
  font-weight: bolder;
  line-height: 1.8;
}

#banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}


div {
  display: flex;
}

div p {
  position: absolute;
  height: 3%;
  font-size: 20px;
  background-color: #d3d3d3;
  border: double 5px #800080; 
  
}
.worksection {
  border: solid 4px #800080;
  padding: 5px;
}
.container {
  display: grid; 
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: repeat(3, 1fr); 
  gap: 5px 22px; 
  grid-template-areas: 
    "Project1 Project1"
    "Project2 Project3"
    "Project4 Project5"; 
  width: 96%;
  text-align: center;
  padding: 10px 20px;
  margin-bottom: 25px;
}

.container .bigimage {
  min-width: 205%;
  box-shadow: 0 4px 8px 0 #57189f33, 0 6px 20px 0 #7a616130;

}

.container img {
  max-width: 100%;
  max-height: 100%;
  border: dashed 5px #800080;
}



.Project1 { 
  grid-area: Project1;
  grid-column-start: 1;
  grid-column-end: 2;
  
  
}
.Project2 { 
  grid-area: Project2; 
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  
}
.Project3 { 
  grid-area: Project3; 

  
}
.Project4 { 
  grid-area: Project4; 
 
 
}
.Project5 { 
  grid-area: Project5; 

}

footer,
p {
  text-align: center;
  margin: 0 auto;
  padding: 12px;
  color: var(--darkpurple);
}

a {
  color: #c8c8ee;
}

/* set content highlight color and background */
::selection {
  background-color: var(--neon-green);
  color: #000000;
}
/* using a mobile-first approach, use `min-width` values going from narrow -> wide for a responsive design */
@media screen and (min-width: 768px) {
  /* on tablets, set columns to only be 50% of the width and not grow */
  

  /* select the last child to grow to full width if it has space to grow */
 
}

/* media query for larger screens */
@media screen and (min-width: 992px) {
  header {
    width: 75%;
  }

  
}

/*
#worksection {
  /*display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 2%; 
 
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
  
  border: solid 2px yellow;
}

#worksection .smallprojects a img {
/*width property for images 
width: 195%;

}
.smallprojects {
  /* display: flex; */
  /* flex: 1 0 0; */
  /* justify-content: space-between; 
  padding: 2px;
  border: solid 2px pink
}

.smallprojects h3 {
  padding: 20px;
  background: #c8c8ee;
  color: #fff;
}

.smallprojects img {
  width: 100%;
}
*/