
:root {
  --dark: #090000;
  --neon-green: #51e251;
  --lightcoral: #f08080;
  --darkpurple: #953fa4;
}


li {
  
  display: inline;
  list-style-type: none;
  font-size: 20px;

}
nav {

  text-align:right;
  padding: 5px;
  background-color: var(--dark);

}
.footer {
  background-color: lightslategrey;
  font-size: 12px;
}

.about-me, .contact {
  background-color:#c8c8ee;
}
main {
  width: 90%;
  margin: 32px auto;
}

body {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: var(--dark)
}

/* set content highlight color and background */
::selection {
  background-color: var(--neon-green);
  color: #000000;
}

.text-center {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {

margin-bottom: auto;
color: var(--darkpurple);
text-align: left;
font-weight: bolder;
line-height: 1.8;
}

img {
  display: block;
  margin-left: auto;
  margin-right:auto;
  width:100%;
  
  
}

.top {
  display: inline;
  
}

.project {
  color:#c8c8ee;
}

.project1 {
  
  width:55%;
}

header,
footer, 
p {
  text-align: center;
  margin: 0 auto;
  padding: 12px;
  color: var(--darkpurple);
}


a {
  color: #c8c8ee;
}


code {
  /* Monospace makes it look more like code */
  font-family: monospace;
}



/* using a mobile-first approach, use `min-width` values going from narrow -> wide for a responsive design */
@media screen and (min-width: 768px) {
  /* on tablets, set columns to only be 50% of the width and not grow */
  .card-column {
    flex: 0 0 50%;
    max-width: 50%;
  }

  /* select the last child to grow to full width if it has space to grow */
  .card-column:last-child {
    flex-grow: 1;
  }
}

/* media query for larger screens */
@media screen and (min-width: 992px) {
  header {
    width: 75%;
  }

  .card-column {
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }
}